covertura.pug
	.container
		table.fixed_headers
			thead
				tr
					th Name
					th Color
					th Description
			tbody
				tr
					td Apple
					td Red
					td These are red.
				tr
					td Pear
					td Green
					td These are green.
				tr
					td Grape
					td Purple / Green
					td These are purple and green.
				tr
					td Orange
					td Orange
					td These are orange.
				tr
					td Banana
					td Yellow
					td These are yellow.
				tr
					td Kiwi
					td Green
					td These are green.
				tr
					td Plum
					td Purple
					td These are Purple
				tr
					td Watermelon
					td Red
					td These are red.