section.covertura
	.container
		table.fixed_headers
			thead
				tr
					th SERVICIOS INCLUIDOS
					th CONFÍA BÁSICA
					th CONFÍA PLUS
			tbody
				tr
					td INVESTIGACIÓN ARRENDATARIO
					td 
						span.azul
					td 
						span.azul
				tr
					td CONTRATO
					td Green
					td These are green.
				tr
					td INVENTARIO FOTOGRÁFICO
					td Purple / Green
					td These are purple and green.
				tr
					td ELABORACIÓN DE PAGARÉS
					td Orange
					td These are orange.
				tr
					td ASESORÍA PERSONALIZADA HASTA LA FIRMA
					td Yellow
					td These are yellow.
				tr
					td RECUPERACIÓN LEGAL EN CASO DE ABANDONO
					td Green
					td These are green.
				tr
					td DESOCUPACIÓN DEL MUEBLE
					td Purple
					td These are Purple
				tr
					td LEY DE EXTINCIÓN DE DOMINIO
					td Red
					td These are red.
				tr
					td INVESTIGACIÓN EN RPP DEL INMUEBLE EN GARANTÍA
					td Red
					td These are red.
				tr
					td RECUPERACIÓN LEGAL EN CASO DE ABANDONO
					td Red
					td These are red.
				
