section.digital
	.container.flex
		.item-col
			figure.digital
				img(src="images/digital.png")
		.item-col.flex
			.item-content
				p Si deseas 
					span actualizar a tu equipo
					| , en temas de prevenci贸n de fraudes , verificaci贸n y autentificaci贸n de documentos ,procesos legales y todo lo relacionado con el contrato de arrendamiento , contactanos para agendar una capacitaci贸n , son totalmente gratuitas.