footer
	.container.flex
		.item-col
			figure.logo
				img(src="images/footer.png" alt="confia")
			p (52)6731 - 4468
		.item-col
			a(href="") INICIO
			a(href="") NOSOTROS
			a(href="") COBERTURAS
			a(href="") COSTOS
			a(href="") SOLICITUDES
			a(href="") ASESORES
			a(href="") INMOBILIARIAS
		.item-col
			h2 CONTÁCTANOS
			ul
				li
					a(href="").cicle
						i.fab.fa-facebook-f
				li
					a(href="").cicle
						i.fas.fa-envelope-open
				li
					a(href="").cicle
						i.fas.fa-phone
				li
					a(href="").cicle.wattsap
						i.fab.fa-whatsapp
	.base
		a(href="") TÉRMINOS Y CONDICIONES 
		a |
		a(href="") POLITICAS DEL SITIO