footer
	.container.flex
		.item-col
			figure.logo
				img(src="images/logo-footer.png" alt="confia")
			h3 Av. Insurgentes Sur 1602 , Col. Crédito #[br] Constructor , Benito Juárez CDMX
			p (52)6731 - 4468
		.item-col
			a.cerrar(href="") INICIO
			a(href="#nosotros") NOSOTROS
			a(href="#coverturas") COBERTURAS
			//- a(href="") COSTOS
			a(href="#solicitud") SOLICITUDES
			a(href="#asesores") ASESORES
			a(href="#inmobiliaria") INMOBILIARIAS
		.item-col
			h2 CONTÁCTANOS
			ul
				li
					a(href="").cicle
						i.fab.fa-facebook-f
				li
					a(href="").cicle
						i.fas.fa-envelope-open
				li
					a(href="").cicle
						i.fas.fa-phone
				li
					a(href="").cicle.wattsap
						i.fab.fa-whatsapp
	.base
		a(href="") TÉRMINOS Y CONDICIONES 
		a |
		a(href="") POLITICAS DEL SITIO