section.actualizar
	.container
		form.flex
			.item-col
				p COMPLETE NUESTRO FORMULARIO #[br]
					span TODOS LOS CAMPOS SOIN OBLIGATORIOS
				.item-box
					label EMPRESA
					input.data(type="text" name="empresa")
				.item-box
					label TELÉFONO
					input.data(type="number" name="telefono")
			.item-col
				.item-box
					label NOMBRE DEL CONTACTO
					input.data(type="text" name="contacto")
				.item-box
					label E-MAIL
					input.data(type="email" name="email")
			.row
				label COMENTARIOS
				textarea(name="comentarios")
			button ENVIAR REGISTRO
				i.fa.fa-arrow-right


