section.digital
	.container.flex
		.item-col
			figure.digital
				img(src="images/digital2.png")
		.item-col.flex
			.item-content
				p Si eres 
					span asesor inmobiliario 
					| y deseas aumentar tus ingresos , contáctanos y conoce nuestro esquema de comisiones.


section.formulario-asesor#asesores
	.container
		form.flex
			.item-col
				p COMPLETE NUESTRO FORMULARIO #[br]
					span TODOS LOS CAMPOS SOIN OBLIGATORIOS
				.item-box
					label NOMBRE
					input.data(type="text" name="nombre")
				.item-box
					label TELÉFONO (CASA O CELULAR)
					input.data(type="text" name="telefono")
			.item-col
				.item-box
					label TIPO
					select
						option SELECCIONE UNO
				.item-box
					label E-MAIL
					input.data(type="text" name="email")