header
    nav.menu
        a.close
            i.fa.fa-times
        a(href="") demo
            i.plane
        a(href="") demo
        a(href="") demo
        a(href="") demo
        a(href="") demo
    span.burger
        i.fa.fa-bars
    figure.logo-inicial
        img(src="images/logo.png")
    aside
        p contactanos
        ul
            li
                a(href="").cicle
                    i.fab.fa-facebook-f
            li
                a(href="").cicle
                    i.fas.fa-envelope-open
            li
                a(href="").cicle
                    i.fas.fa-phone
            li
                a(href="").cicle.wattsap
                    i.fab.fa-whatsapp
.overlay
