header
    nav.menu
        .header-nav.flex
            a.close
                i.fa.fa-arrow-left
            figure.logo-nav
                img(src="images/logo-blanco.png")
            
        a(href="") INICIO
        a(href="") NOSOTROS
        a(href="") COBERTURAS
        a(href="") COSTOS
        a(href="") SOLICITUDES
        a(href="") ASESORES
        a(href="") INMOBILIARIAS
    span.burger
        i.fa.fa-bars
    figure.logo-inicial
        img#img1(src="images/logo.png")
    aside.flex
        p contactanos
        ul
            li
                a(href="").cicle
                    i.fab.fa-facebook-f
            li
                a(href="").cicle
                    i.fas.fa-envelope-open
            li
                a(href="").cicle
                    i.fas.fa-phone
            li
                a(href="").cicle.wattsap
                    i.fab.fa-whatsapp
.overlay
