section.nosotros#nosotros
	.container.flex
		.item-nosotros
			h2
				strong Con 15 años de experiencia en procesos de validación , cobranza y prevención de fraudes. #[br] #[br]
				| 
			p
				strong Confía, 
				| surge como una solución a los problemas más comunes en el proceso de arrendamiento, teniendo como base principal la creación de relaciones de confianza a largo plazo.
			button(type="button" class="scroll_down" id="scroll_down")
		.item-slider
			.owl-carousel.owl-nosotros
				.item
					img(src="images/fondo1.png")
				.item
					img(src="images/fondo2.png")
				.item
					img(src="images/fondo3.png")