section.solicitud
	.container
		.item-nav.flex
			h2 SELECCIONE EL TIPO DE SOLICITUD:
			ul#nav-tab.nav.flex
				li.active
					a(href='#tab1') ARRENDATARIO
				li
					a(href='#tab2') ARRENDADOR
		.item-instrucciones
			p COMPLETE LOS SIGUIENTES CAMPOS, TODOS SON OBLIGATORIOS
		.tab-content
			#tab1.tab-pane.active
				.acordeon
					h2.acordeon__titulo Titulo
					p.acordeon__contenido Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, ex, eligendi.i
				.acordeon
					h2.acordeon__titulo Titulo 2
					p.acordeon__contenido Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, ex, eligendi.i

								

			#tab2.tab-pane  Conteúdo Secundário