section.solicitud
	.container
		.item-nav.flex
			h2 SELECCIONE EL TIPO DE SOLICITUD:
			ul#nav-tab.nav.flex
				li.active
					a(href='#tab1') ARRENDATARIO
				li
					a(href='#tab2') ARRENDADOR
		.item-instrucciones
			p COMPLETE LOS SIGUIENTES CAMPOS, TODOS SON OBLIGATORIOS
		.tab-content
			#tab1.tab-pane.active
				.acordeon
					h2.acordeon__titulo Titulo
					.acordeon__contenido
						form.flex
							.item-col
								.item-box
									label NOMBRE
									input.data(type="text" name="nombre")
								.item-box
									label DOMICILIO
									input.data(type="text" name="rfc")
								.item-box
									label TELEFONO
									input.data(type="text" name="telefono")
							.item-col
								.item-box
									label RFC
									input.data(type="text" name="telefono")
								.item-box
									label COLONIA
									input.data(type="text" name="telefono")
								.item-box
									label CELULAR
									input.data(type="text" name="telefono")
							.item-col
								.item-box
									label ESTADO CIVIL
									input.data(type="text" name="telefono")
								.item-box
									label DELEGACIÓN O MUNICIPIO
									input.data(type="text" name="telefono")
								.item-box
									label E-MAIL
									input.data(type="text" name="telefono")
							.item-Titulo
								h3 DATOS LABORALES
							.item-col
								.item-box
									label PROFECION
									input.data(type="text" name="telefono")
								.item-box
									label ANTIGUEDAD
									input.data(type="text" name="telefono")
								.item-box
									label JEFE INMEDIATO
									input.data(type="text" name="telefono")
							.item-col
								.item-box
									label INGRESO MENSUAL
									input.data(type="text" name="telefono")
								.item-box
									label PUESTOS
									input.data(type="text" name="telefono")
								.item-box
									label PUESTO
									input.data(type="text" name="telefono")
							.item-col
								.item-box
									label EMPRESA DONDE TRABAJA
									input.data(type="text" name="telefono")
								.item-box
									label HORARIO LABORAL
									input.data(type="text" name="telefono")
								.item-box
									label E-MAIL
									input.data(type="text" name="telefono")
							.item-Titulo
								h3 DOMICILIO ACTUAL DE TRABAJO
							.item-col-vert.flex
								.item-box
									label COLONIA
									input.data(type="text" name="telefono")
								.item-box
									label DELEGACION
									input.data(type="text" name="telefono")
								.item-box
									label GIRO EMPRESA
									input.data(type="text" name="telefono")
							.item-col-vert.flex
								.item-box
									label COLONIA
									input.data(type="text" name="telefono")
								.item-box-red
									p DOCUMENTOS REQUERIDOS : 1 - IDENTIFICACIÓN OFICIAL (INE - PASAPORTE), 2 - COMPROBANTE DE INGRESOS, 3-ÚLTIMOS RECIBOS DE SALARIO O ESTADOS DE CUENTA BANCARIOS O ÚLTIMAS 2 DECLARACIONES DE IMPUESTOS, 3- CARTA DE CONSTANCIA DE LA EMPRESA QUE TRABAJA.
							.item-col-vert
								.item-box
									p REQUIERE FACTURA DEL PAGO DE LA PÓLIZA
										span REQUIERE FACTURA DEL PAGO DE LA PÓLIZA
								.item-check


								
				.acordeon
					h2.acordeon__titulo Titulo 2
					p.acordeon__contenido Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, ex, eligendi.i

								

			#tab2.tab-pane  Conteúdo Secundário
