section.valores
	h2 NUESTROS VALORES
	.container1
		.owl-carousel.owl-valores
			.item-valores
				img(src="images/handshake.svg")
				p HONESTIDAD
			.item-valores
				img(src="images/promise.svg")
				P EMPATÍA
			.item-valores
				img(src="images/puzzle.svg")
				P RESPONSABILIDAD
			.item-valores
				img(src="images/recommended.svg")
				P CALIDAD
			.item-valores
				img(src="images/team.svg")
				P CONFIANZA


    
    
