section.covertura{
    background: #C7DFEE;
}


.container2 th h1 {
    font-weight: 500;
    font-size: 20px;
    color: #001434;
    text-align: center;
}

.container2 td {
  font-size: 18px;
  font-weight: 300;
}

.container2 {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.container2 td, .container th {
    padding-bottom: 1%;
    padding-top: 2%;
    padding-left:2%;
}

/* Background-color of the odd rows */
.container2 tr:nth-child(odd) {
	  background-color: transparent;
}

/* Background-color of the even rows */
.container2 tr:nth-child(even) {
	  background-color: rgba(141, 181, 200, 0.19);
}
section.covertura > div > table > tbody > tr:nth-child(even) > td:nth-child(3){
    background-color: rgba(141, 181, 200, 0.20);
}

.container2 th {
	  background-color: transparent;
      border-bottom: 1px solid #001434;
}

.container2 td:first-child { color: #001434; width: 44%; text-align: center; }
.container2 td:last-child { text-align: center;}
.container2 td:nth-child(2) {text-align: center;}

.container2 tr:hover {
   background-color: #464A52;
}
