header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    figure.logo-inicial{
        max-width: 215px;
        img{
            width: 100%;
        }
    }
    aside{
        ul{
            li{
                list-style: none;
                display: inline-block;
                margin-right: 15px;
                a{
                    color: #0D3156;
                }
            }
        }
    }
}

nav.menu{
    width: 100%;
    display: block;
    height: 100%;
    background-color: #fff;
    max-width: 34%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    box-shadow: -5px 7px 12px -5px rgba(204,204,204,1);
    transform: translateX(-950px);
    transition: all 400ms  ease-in-out;
	a{
        display:block;
        text-align: left;
        margin-right: 0px;
        padding: 3px 15px;
        font-size: 18px;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
		text-decoration: none;
		margin-right: 20px;
		font-size: 16px;
		color: #303030;
		&:hover{
			background-color: #303030;
			color: #fff;
		}
		&.close{
			text-align: right;
			display: block;
			i.fa.fa-times{
				font-size: 30px;
				cursor: pointer;
			}
			&:hover{
				background:transparent;
				color:#303030;
			}
		}
	}
	&.open{
		transform: translateX(0px);
	}

}

span.burger{
		margin-top: 20px;
		padding: 0px 10px;
		cursor: pointer;
    	position: relative;
			i.fa.fa-bars{
				font-size: 30px;
			}
	}

.overlay{
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	opacity: 0;
	z-index: -1;
	transition: opacity 300ms linear;
	&.open{
		z-index: 1;
		opacity: 1;
	}
}
