h1,h2,h3,h4{
	margin-top: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	color: var(--color-gris);
}
a{
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
a:active {
     position: relative;
     top: 1px;
}

:root {
  --base-color-midnight: #001434;
  --base-color-Mercury: rgba(228, 228, 228, 0.4);
  --base-color-Tuna: #3B3C3E;
  --color-curious-blue: #1E81CE;
  --color-caribbean-green: #0BBFAC;
  --color-red: #F40202;
  --color-fountain-blue: #63AAC0;
  --color-calypso: #266E84;
  --color-botticelli: #D6E5EC;
  --color-gothic: #7193A3;
	
  
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

body{
	font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 5px 15px;
}
.flex{
  display: flex;
}
label{
  display: block;
  color: white;
  margin-bottom: 15px;
}




