@media only screen and (max-width: 767px) {

	footer > div.container.flex > div:nth-child(2){
		display: none;

	}
	footer > div.container.flex > .item-col{
		width: 100%;
	}
	footer figure.logo{
		margin: auto;
	}
	footer h3{
		text-align: center;
	}
	footer p{
		text-align: center;
	}
	footer > div.container.flex > .item-col h2{
		text-align: center;
	}
	footer .item-col ul{
		text-align: center;
	}
	section.actualizar .container form .item-col, section.formulario-asesor form .item-col{
		width: 100%;
	}
	section.actualizar .container form button{
		margin: auto;
    	margin-top: 15px;
	}
	section.digital > .container{
		flex-direction: column;
	}
	section.digital .item-col figure.digital{
		width: 100%;
	}
	section.solicitud form.flex .item-col-vert .item-box-xls{
		flex-direction: column;
	}

	section.solicitud form.flex .item-col-vert .item-box-xls .item-combo-text{
		padding-top: 15px;
	}
	section.solicitud form.flex .item-col-vert, .items-box-general{
		flex-direction: column;
	}
	section.solicitud form.flex .item-col-vert .item-box{
		width: 100%;
	}
	section.solicitud form.flex .item-col-vert .item-box-big .item-text{
		width: 80%;
	}
	section.solicitud form.flex .item-col-vert .item-box-red, section.solicitud form.flex .item-col{
		width: 100%;
	}
	body > section.solicitud > div > div.item-nav.flex{
		flex-direction: column;
	}
	section.solicitud .container h2, section.solicitud ul.nav{
		width: 100%;
	}
	.medio, .two-medio{
		width: 100%!important;
	}
	section.solicitud form.flex .item-col-two{
		flex-direction: column;
	}
	section.solicitud form.flex .item-col-two .item-box{
		width: 100%;
	}

	header > aside{
		display: none!important;
	}
	header figure.logo-inicial{
		margin-right: 15px;
		margin-left: 50px;
		max-width: 117px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	nav.menu{
		max-width: 90%;
	}
	section.nosotros .container{
		flex-direction: column;
	}
	section.nosotros .item-nosotros{
		width: 100%;
	}
	section.nosotros .item-slider{
		margin-top: 5px;
		width: 100%;
	}
	section.nosotros .item-nosotros{
		margin-right: 0;
	}

	section.valores{
    padding-bottom: 30px;
}
section.solicitud .container h2{
	font-size: 18px;
	background: transparent;
	color: #001434;
	line-height: 44px;
}
section.solicitud ul li a{
	font-size: 16px!important;
}
section.solicitud .item-instrucciones{
	flex-direction: column-reverse;
}
section.solicitud .item-instrucciones a.dowland{
	color: white;
	background: #001434;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 10px;
}
section.solicitud .item-instrucciones a.dowland i{
	color: white;
}

section.acordion ul li{
	font-size: 15px;
}

footer .item-col ul li a.cicle{
	width: 64px;
    height: 60px;
}
nav.menu aside.mobile ul li a.cicle{
	margin-right: 5px;
}

section.nosotros .item-nosotros h2{
	font-size: 18px;
	margin-bottom: 15px;
}
section.nosotros .item-nosotros{
	padding: 30px 15px;
}

.items-box-general{
	display: none;
	&.active{
		display: flex;
	}
}
section.solicitud form.flex .item-Titulo{
	cursor: pointer;
	background: #DFE9F8;
    padding: 10px 5px;
    margin-bottom: 3px;
}
section.solicitud form.flex .item-Titulo span, section.solicitud form.flex .item-Titulo h3{
	background: transparent;
}

section.solicitud form.flex .item-Titulo h3:before{
	background: transparent;
}






}


@media only screen and (max-width: 320px) {


}
