@media only screen and (min-width: 960px) and (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: 1024px !important;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 11px;}

  body {
    height: 100vh;}

  .container {
    max-width: 959px!important;}
}